<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

{% block title %}

{% endblock %}

    </title>
</head>
<body bgcolor="#FFA500">

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h3>
    <a href="{% url 'main_menu' %}">Main menu</a> |
    <a href="{% url 'tags_list' %}">Tags</a> |
    <a href="{% url 'creating_product' %}">Create product</a> |
    <a href="{% url 'cart' %}">My Cart ({{ request.session.cart_in_product.items|length}})</a>
</h3>

{% block content %}

{% endblock %}


</body>
</html>